body{
    background-color: #FFF1EB
}

h1{
    color: black;
}
table, th, td{
    border: 1px dashed black;
    text-align: center;
}
p{
    color: green;
}
img{
    width: 200px;
    height: 200px;
}